html, body {
    margin: 0;
    background-color: #F0F0F0;
}

.logo {
    background-color: white;
    margin: 0;
    height: 20vw;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.logo img {
    height: 16vw;
    display: block;
    margin: 0 auto;
    padding-top: 2vw;
}

#timetable {
    margin: 10px;
}

#info {
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.time {
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
}
/*
@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.app > * {
    display: none;
}

.app > *:last-child {
    display: block;
}

.app > *:target {
    display: block;
    -webkit-animation: fade 300ms linear 1;
    animation: fade 300ms linear 1;
}

.app > *:target ~ * {
    display: none;
}
*/
.card {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin: 10px;
    padding: 7vh 5vw;
}

.card.md {
    padding: 4vh 14vw;
}

select {
    width: 55vw;
    height: 8vh;
    border-radius: 4px;
}

input {
    height: 6vh;
    margin-left: 4vw;
}

form {
    margin-bottom: 0;
}

.material-icons {
    vertical-align: middle;
    font-size: 12vw!important;
}

#invert {
    position: absolute;
    left: 50vw;
    margin-top: -5vh;
}

#calcular {
    margin: 0 10px;
    height: 8vh;
    width: -webkit-fill-available;
}